body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 50px 150px 50px 150px;
}

.btn-comment {
    float: right;
    margin-top: 10px;
}

.secBtn-comment {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 40px;
    height: 40px;
}

.media-body-padding {
    padding-top: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section {
    margin-top: 15px;
}

.community-menu {
    display: block;
    color: #999;
    font-size: 12px;
    margin-bottom: 10px;
    width: 50px;
}

.comment {
    margin: 10px 0;
}

.comment-sp {
    margin-top: 5px;
    padding-top: 5px;
}

.comment-sp1 {
    margin-bottom: 10px;
}


.question-sp {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.question-title {
    margin-top: 25px;
}

.question-tag {
    margin-right: 5px;
}

.question-related {
    line-height: 20px;
    font-size: 14px;
    list-style: none;
    padding-left: 0;
}

.li-sp {
    margin-bottom: 5px;
}

.img-form {
    width: 100%;
}

.content {
    margin-top: 5px;
    font-size: 12px;
    color: #0f0f0f;
}

.sec-content {
    margin-top: 5px;
    font-size: 12px;
    color: #0f0f0f;
}

.sec-content-sp {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.menu {
    color: #999;
    margin-top: 8px;
}

.menu .icon {
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
}

.menu .icon:hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon:hover {
    color: #499ef3;
}

.sec-comment-sp {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.secComment-sp {
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
}